.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}

body {
  overflow-x: hidden;
}
.height {
  height: 100%;
}
.function {
  transition: background-color 0.3s ease-in;
}
.function:hover {
  color: white;
}
.hover:hover{
  background-color: #333333;
}
/* #33333370 */